* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-image: linear-gradient(#291f4e, #210c3a, #1d0630);
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#card {
    display: flex;
    width: 25%;
    height: 50rem;
    background-image: url(../img/image1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
}

#card-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

#card p {
    font-size: 30px;
}

h2 {
    font-size: 60px;
}

#bg {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#current-day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem 2rem;
    font-weight: bold;
}

#next-day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem 2rem;
}

.prevision {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}